#!/usr/bin/make -f

export DH_VERBOSE = 1
export PYBUILD_NAME=python-snap7

%:
	dh $@ --buildsystem=pybuild --with sphinxdoc


execute_after_dh_auto_build-indep: export http_proxy=127.0.0.1:9
execute_after_dh_auto_build-indep: export https_proxy=127.0.0.1:9
execute_after_dh_auto_build-indep:
	PYTHONPATH=. python3 -m sphinx -N -bhtml \
	doc/ build/html # HTML generator
	PYTHONPATH=. python3 -m sphinx -N -bman \
	doc/ build/man # Manpage generator
